body {
    background-color: #00405B !important;
}

h3 {
    margin-top: 1em;
}

.main-heading {
    margin-bottom: 1em;
}

.input-container {
display: -ms-flexbox; /* IE10 */
display: flex;
width: 100%;
margin-bottom: 10px;
}

.icon {
padding: 15px;
background: dodgerblue;
color: white;
min-width: 50px;
text-align: center;
}

.input-field {
width: 100%;
padding: 10px;
outline: none;
}

.input-field:focus {
border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
color: white;
padding: 10px 15px;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

.btn:hover {
opacity: 1;
}

.footer {
    margin-top: 5em;
}